{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
      integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "css/styles.css" %}'
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Alyf Planning App</a> -->
      <img src="{% static 'images/Logo-Alyf-BleuNoir-420x240.png'%}" width=100px height =50px alt="logo alyf"/>
      <h3 class="logoalyf"> P<span style=" color:#1e90ff">l</span>anning App</h3>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}" class="form-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link">
                Logout
              </button>
            </form>
          </li>
          <li class="nav-item">
            <span class="navbar-text">
              <h5>{{ request.user.username }}</h5>
            </span>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12 col-md-10 mx-auto">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> -->
  </body>
</html>
