{% extends "base.html" %} {%block content %}

{% csrf_token %} 



<div class="calendar">
    <h2>Planning de {{current_formateur}} </h2>
    {{ calendar}} <!-- Affichage du calendrier avec les événements -->
   
</div>
<button class = "calbtn"><a href="?{{ prev_month }}">Mois précédent</a></button>
<button class = "calbtn"><a href="?{{ next_month }}">Mois suivant</a></button>
<button class = "calbtn"  type="submit" onclick="location.href='{% url 'telecharger_document' filename  %}'"" >Telecharger fichier excel</button>
{% endblock %}
